<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>All Of Travel</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="Detail/assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="list/css/styles.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link href="list/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="list/css/shop-homepage.css" rel="stylesheet">
    <script src="js/jquery-3.7.1.min.js"></script>
    <script th:inline="javascript">
        $(function(){
            let m = [[${msg}]];
            if(m != null){
                alert(m);
            }
        });
    </script>
    <style>
        section p {
            border: 1px groove darkgray;
            padding: 5px;
        }

        .btn {
            background-color: darkgray;
            box-shadow: black 5px 5px 5px;
            color: white;
            font-weight: bolder;
            width: 270px;
            height: 50px;
            margin-bottom: 30px;
        }
        .field{
            width: 400px;
            border: 1px darkgray groove;
            margin-bottom: 50px;
            margin-top: 10px;
            padding: 20px;
        }
        #side {float: right; width: 400px; margin-top: 150px;}
    </style>
</head>
<body>
<!-- Responsive navbar-->
<th:block th:insert="~{fragment::header(${session.member})}"></th:block>

<!-- Page content-->
<div class="container">
    <th:block th:insert="~{fragment::menubar(${session.member})}"></th:block>
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <header class="mb-4"> <br>
                    <h1 class="fw-bolder mb-1"> 예약 상세 페이지</h1></header>
                <figure class="mb-4"><img class="img-fluid rounded" th:src="${'upload/'+ ab.alogo}"/></figure>
                <a style="margin: 20px;" th:href="@{FlightDetail(fnum=${ab.fnum})}"> 항공편 상세 페이지로 이동 </a><br>
                <div class="container">

                    <fieldset class="field">
                        <legend>예약 정보</legend>
                        <p class="text-muted fst-italic mb-2" th:text="${'항공사 명 : ' + ab.aname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'항공편 명 : ' + ab.fname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'출발공항-도착공항 : ' + ab.d_airport + '-'+ab.a_airport}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'출발일시-도착일시 : ' +ab.d_date+ '/' +ab.d_time+ '->' + ab.d_date + '/' +ab.a_time}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'좌석등급 :' + ab.sgrade}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'좌석번호 : ' + ab.snumber}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'항공권 가격 : ' + ab.fprice+'  원'}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'총 수량 : ' + ab.abcount + '  장'}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'총 결제가격 : ' + ab.totalprice+'  원'}"></p>
                    </fieldset>

                    <fieldset  class="field">
                        <legend>고객 정보</legend>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 아이디 : ' + member.mid}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 성 : ' + member.mlname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 이름 : ' + member.mfname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 전화번호 : ' + member.mphone}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 이메일 : ' + member.memail}"></p>
                    </fieldset>
                </div>
            </article>
        </div>
        <div class="col-lg-4" id="side">
            <button class="btn" id="BookList" > Show the Booklist </button><br>
            <button class="btn" id="Update" > Change the Reservation </button><br>
            <button class="btn" id="Delete" > Cancel the Reservation </button>
        </div>
    </div>
</div>
<!-- Footer-->
<!-- Footer-->
<footer class="py-5 bg-dark">
    <th:block th:insert="~{fragment::footer}"></th:block>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="Detail/js/scripts.js"></script>
<script th:inline="javascript">
    $("#BookList").click(function () {
        location.href = "/PreBookList?mid="+[[${member.mid}]];
    });
    $("#Update").click(function () {
        let abnum = [[${ab.abnum}]];
        location.href = `/ABookChange?abnum=${abnum}`;
    });
    $("#Delete").click(function () {
        let con = confirm("예약을 정말 취소할까요?");
        if(con == true) {
            let abnum = [[${ab.abnum}]];
            location.href = `/ABookDelete?abnum=${abnum}`;
        }
    });
</script>

</html>
