<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>All Of Travel</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="Detail/assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="list/css/styles.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link href="list/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="list/css/shop-homepage.css" rel="stylesheet">
    <script src="js/jquery-3.7.1.min.js"></script>
    <script th:inline="javascript">
        $(function(){
            let m = [[${msg}]];
            if(m != null){
                alert(m);
            }
        });
    </script>
    <style>
        section p {
            border: 1px groove darkgray;
            padding: 5px;
        }

        .btn {
            background-color: darkgray;
            box-shadow: black 5px 5px 5px;
            color: white;
            font-weight: bolder;
            width: 270px;
            height: 50px;
            margin-bottom: 30px;
        }
        .field{
            width: 400px;
            border: 1px darkgray groove;
            margin-bottom: 50px;
            margin-top: 10px;
            padding: 20px;
        }
        #side {float: right; width: 400px; margin-top: 150px;}
    </style>
</head>
<body>
<!-- Responsive navbar-->
<th:block th:insert="~{fragment::header(${session.member})}"></th:block>

<!-- Page content-->
<div class="container">
    <th:block th:insert="~{fragment::menubar(${session.member})}"></th:block>
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <header class="mb-4"> <br>
                    <h1 class="fw-bolder mb-1"> 예약 상세 페이지</h1></header>
                    <figure class="mb-4"><img class="img-fluid rounded" th:src="${'upload/'+ hb.horiname}"/></figure>
                    <a style="margin: 20px;" th:href="@{RoomDetail(roomnum=${hb.roomnum})}"> 객실 상세 페이지로 이동 </a><br>
                <div class="container">

                        <fieldset class="field">
                        <legend>예약 정보</legend>
                       <p class="text-muted fst-italic mb-2" th:text="${' 호텔 명 : ' + hb.hname}"></p>
                        <br>
                       <p class="text-muted fst-italic mb-2" th:text="${'객실 명 : ' + hb.rname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'체크인 날짜 : ' + hb.sdate}"></p>
                        <br>
                       <p class="text-muted fst-italic mb-2" th:text="${'체크아웃 날짜 : ' + hb.edate}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'체크인 시간 :' + hb.stime}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'체크아웃 시간 : ' + hb.etime}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'투숙 인원수 : ' + hb.count+'  명'}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'1일 숙박비 : ' + hb.hprice+'  원'}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'총 숙박일수 : ' + hb.totalDate + '  일'}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'총 숙박가격 : ' + hb.totalPrice+'  원'}"></p>
                        </fieldset>

                        <fieldset  class="field">
                            <legend>고객 정보</legend>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 아이디 : ' + member.mid}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 성 : ' + member.mlname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 이름 : ' + member.mfname}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 전화번호 : ' + member.mphone}"></p>
                        <br>
                        <p class="text-muted fst-italic mb-2" th:text="${'고객 이메일 : ' + member.memail}"></p>
                        </fieldset>
                </div>
            </article>
        </div>
        <div class="col-lg-4" id="side">
            <th:block th:if="${hb.status} == '이용 전'">
                    <button class="btn" id="BookList" > Show the PreBooklist </button><br>
                    <button class="btn" id="Update" > Change the Reservation </button><br>
                    <button class="btn" id="Delete" > Cancel the Reservation </button>
            </th:block>
            <th:block th:unless="${hb.status} == '이용 전'">
                    <button class="btn" id="BookList2" > Show the ProBooklist </button><br>
            </th:block>
        </div>
    </div>
</div>

<!-- Footer-->
<!-- Footer-->
<footer>
    <th:block th:insert="~{fragment::footer}"></th:block>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="Detail/js/scripts.js"></script>
<script th:inline="javascript">
    $("#BookList").click(function () {
        location.href = "/PreBookList?mid="+[[${member.mid}]];
    });
    $("#Update").click(function () {
        let hbnum = [[${hb.hbnum}]];
        location.href = `/HBookChange?hbnum=${hbnum}`;
    });
    $("#Delete").click(function () {
        let con = confirm("예약을 정말 취소할까요?");
        if(con == true) {
            let hbnum = [[${hb.hbnum}]];
            location.href = `/HBookDelete?hbnum=${hbnum}`;
        }
    });
    $("#BookList2").click(function () {
        location.href = "/ProBookList?mid="+[[${member.mid}]];
    });
</script>

</html>
