<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All of Travel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="TemplatesJungle">
    <meta name="keywords" content="Free HTML Template">
    <meta name="description" content="Free HTML Template">

    <link rel="stylesheet" type="text/css" href="index/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="index/css/vendor.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet">
</head>

<body>


<div class="preloader"></div>

<th:block th:insert="~{fragment::index(${session.member})}"/>

<div class="side-nav-bar">
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-btn" for="menu-toggle">
        <span></span>
    </label>
</div>

<section id="intro" class="scrollspy-section">
    <div class="main-slider">
        <div class="slider-item jarallax" data-speed="0.2">
            <img src="index/images/main-banner1.jpg" alt="banner" class="jarallax-img">
            <div class="banner-content">
                <h2 class="banner-title txt-fx">All Of Travel</h2>
                <div class="btn-wrap">
                    <a href="#" class="btn-with-line">View More</a>
                </div>
            </div><!--banner-content-->
        </div><!--slider-item-->

        <div class="slider-item jarallax" data-speed="0.2">
            <img src="index/images/main-banner2.jpg" alt="banner" class="jarallax-img">
            <div class="banner-content">
                <h2 class="banner-title txt-fx">All Of Travel</h2>
                <div class="btn-wrap">
                    <a href="#" class="btn-with-line">View More</a>
                </div>
            </div><!--banner-content-->
        </div><!--slider-item-->

        <div class="slider-item jarallax" data-speed="0.2">
            <img src="index/images/main-banner3.jpg" alt="banner" class="jarallax-img">
            <div class="banner-content">
                <h2 class="banner-title txt-fx">All Of Travel</h2>
                <div class="btn-wrap">
                    <a href="#" class="btn-with-line">View More</a>
                </div>
            </div><!--banner-content-->
        </div><!--slider-item-->
    </div><!--slider-->

    <div class="button-container">
        <button class="prev slick-arrow">
            <i class="icon icon-chevron-thin-left"></i>
        </button>
        <button class="next slick-arrow">
            <i class="icon icon-chevron-thin-right"></i>
        </button>
    </div>
</section>

<section id="about" class="scrollspy-section padding-xlarge">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="section-header">
                    <div class="title">
                        <span>who are we</span>
                    </div>
                    <h2 class="section-title">About Us</h2>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <figure class="jarallax-keep-img">
                    <img src="index/images/singleimage.jpg" alt="about us" class="jarallax-img single-image">
                </figure>
            </div>
            <div class="col-md-6 description text-lead">
                <p><strong>환영합니다!</strong><br>
                   <br> 여행의 모든 순간을 손쉽게 계획하고 예약할 수 있는 편리한 웹사이트에 오신 것을 환영합니다.
                    저희 사이트는 호텔, 항공편, 렌터카, 그리고 다양한 레저 활동까지 모두 통합적으로 예약할 수 있는 플랫폼입니다.</p>
                <p>저희는 고객들에게 간편하고 안전한 여행을 제공하기 위해 최선을 다하고 있습니다. 최상의 서비스와 다양한 선택지로 여행 경험을 높여드립니다.
                    여행 계획을 세우고 예약하는 모든 순간, 저희와 함께하세요.
                    여행을 더욱 편안하게, 더욱 특별하게 만들어드립니다. 이제 여행의 모든 가능성을 펼쳐보세요!
              </p>


            </div>

        </div>

    </div>
</section>

<section id="portfolio" class="scrollspy-section bg-dark padding-large">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="section-header">
                    <div class="title">
                        <span>Some of Our Works</span>
                    </div>
                    <h2 class="section-title light">Our Product</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div id="filters" class="button-group d-flex flex-wrap gap-4 py-5" data-aos="fade-up">
                <a href="#" class="btn btn-outline-light rounded-pill text-uppercase is-checked"
                   data-filter=".design">Hotel</a>
                <a href="#" class="btn btn-outline-light rounded-pill text-uppercase"
                   data-filter=".interior">Airline</a>
                <a href="#" class="btn btn-outline-light rounded-pill text-uppercase"
                   data-filter=".landscape">Rent</a>
                <a href="#" class="btn btn-outline-light rounded-pill text-uppercase"
                   data-filter=".construction">Leisure</a>
            </div>

        </div>

        <div class="grid p-0 clearfix row row-cols-2 row-cols-lg-3 row-cols-xl-3" data-aos="fade-up">

            <div class="col mb-4 portfolio-item construction">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 1."><img src="index/images/leisure6.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item construction">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 2."><img src="index/images/leisure2.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item construction">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 3."><img src="index/images/leisure5.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item construction">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 4."><img src="index/images/leisure4.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item interior">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 5."><img src="index/images/air5.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item design">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 6."><img src="index/images/hotel1.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item design">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 7."><img src="index/images/hotel2.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item design">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 8."><img src="index/images/hotel3.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item design">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 9."><img src="index/images/hotel4.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item design">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item1 0."><img src="index/images/hotel5.jpg"
                                                                                class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item design">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item1 1."><img src="index/images/hotel6.jpg"
                                                                                class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item construction">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item1 2."><img src="index/images/leisure1.jpg"
                                                                                class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item interior">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 1."><img src="index/images/air4.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item landscape">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 2."><img src="index/images/car1.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item landscape">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 3."><img src="index/images/car2.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item interior">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 4."><img src="index/images/air1.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item interior">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 5."><img src="index/images/air2.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item interior">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 6."><img src="index/images/air3.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item interior">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 6."><img src="index/images/air6.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item landscape">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 7."><img src="index/images/car3.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item landscape">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item 8."><img src="index/images/car4.jpg"
                                                                               class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item landscape">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item1 0."><img src="index/images/car5.jpg"
                                                                                class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item construction">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item1 1."><img src="index/images/leisure3.jpg"
                                                                                class="img-fluid" alt="portfolio"></a>
            </div>
            <div class="col mb-4 portfolio-item landscape">
                <a href="" class="image-link"
                   title="Sample Caption goes here for Portfolio Item1 2."><img src="index/images/car6.jpg"
                                                                                class="img-fluid" alt="portfolio"></a>
            </div>
        </div>

    </div>
</section>

<section id="services" class="scrollspy-section padding-large">
    <div class="container">
        <div class="row">
            <div class="section-header col-12">
                <div class="title">
                    <span>what we do</span>
                </div>
                <h2 class="section-title">Services</h2>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">01</span>
                    <h3>맞춤형 예약서비스</h3>
                    <p>다양한 선택지와 맞춤형 서비스를 통해, 각자의 취향과 요구에 부합하는 여행을 계획하세요. 여러 카테고리에서 최고의 옵션을 제공하고, 개인의 취향에 따라 맞춤형 예약이 가능합니다.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">02</span>
                    <h3>편리한 예약관리</h3>
                    <p>호텔,항공편,렌터카,그리고 레저 활동에 대한 모든 정보를 한번에 관리하세요.여행 일정의 변경이나 추가 예약이 필요할 때도 간편하게 조정할 수 있습니다.
                    </p>
                </div>

            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <span class="number">03</span>
                    <h3>안전하고 안심하는 여행</h3>
                    <p>여행 도중에도 안전과 안심을 최우선으로 두며, 신뢰할 수 있는 파트너와 협력하여 최상의 서비스를 제공합니다. 언제든 고객 지원팀에 문의하여 여행 도중 발생할 수 있는 모든 문제에 대처할 수 있습니다.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="subscribe" class="scrollspy-section padding-small">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure class="subscribe-image">
                    <img src="index/images/subscribe-image.png" alt="subscribe">
                </figure>
            </div>
            <div class="col-md-6">
                <div class="subscribe-content">
                    <h2 class="section-title">subscribe us</h2>
                    <p>이메일 정보를 등록하시면  All Of Travel의 더 많은 특가 상품을 빠르게 보실 수있습니다.</p>
                    <form id="form">
                        <input type="text" name="email" placeholder="이메일 주소를 입력하세요">
                        <button class="btn btn-accent btn-rounded btn-full btn-xlarge">지금 구독하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="latest-blog" class="scrollspy-section bg-grey padding-large">
    <div class="container">

        <div class="row">

            <div class="col">

                <div class="section-header">
                    <div class="title">
                    </div>
                    <h2 class="section-title">Today's Ranking</h2>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="post-grid">
                    <div class="row">

                        <div class="col-md-4">

                            <article class="post-item">

                                <figure>
                                    <a href="/HotelDetail?company=2" class="image-hvr-effect">
                                        <img src="index/images/hotel1.jpg" alt="post" class="post-image">
                                    </a>
                                </figure>

                                <div class="post-content">
                                    <div class="meta-date"></div>
                                    <h3 class="post-title"><a href="/HotelDetail?company=2">신라호텔</a></h3>
                                    <p>서울특별시 종로구</p>
                                </div>
                            </article>

                        </div>

                        <div class="col-md-4">

                            <article class="post-item">
                                <figure>
                                    <a href="#" class="image-hvr-effect">
                                        <img src="index/images/air1.jpg" alt="post" class="post-image">
                                    </a>
                                </figure>
                                <div class="post-content">
                                    <div class="meta-date"></div>
                                    <h3 class="post-title"><a href="#">서울 -> 태국 항공권</a></h3>
                                    <p>2024년 2월 출발</p>
                                </div>
                            </article>
                        </div>

                        <div class="col-md-4">
                            <article class="post-item">
                                <figure>
                                    <a href="/RentDetail?company=1" class="image-hvr-effect">
                                        <img src="index/images/car1.jpg" alt="post" class="post-image">
                                    </a>
                                </figure>
                                <div class="post-content">
                                    <div class="meta-date"></div>
                                    <h3 class="post-title"><a href="/RentDetail?company=1">롯데 렌트카 특가</a></h3>
                                    <p>24시간 무료 이용권</p>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>

            </div>



        </div>

        <div class="row">
            <div class="col">



            </div>
        </div>

    </div>
</section>

<section id="contact" class="scrollspy-section bg-dark padding-large">
    <div class="container">

        <div class="row">
            <div class="col-md-6">

                <div class="left-content">

                    <div class="section-header">
                        <div class="title">
                            <span>Get in touch</span>
                        </div>
                        <h2 class="section-title light">Contact us</h2>
                    </div>

                    <p>불편사항이나 문의사항을 보내주시면 최대한 빠르게 답변드리겠습니다. </p>

                    <form id="form-contact" class="form-light" action="contact.php">
                        <p>
                            <input type="text" name="name" placeholder="이름" required>
                        </p>
                        <p>
                            <input type="text" name="email" placeholder="이메일" required>
                        </p>
                        <p>
                            <textarea name="message" placeholder="문의사항" required></textarea>
                        </p>
                        <p>
                            <label for="agree">
                                <input id="agree" name="agree" type="checkbox" required></input>
                                <span>개인정보 제공 및 이용정책에 동의합니다</span>
                            </label>
                        </p>
                        <button class="btn btn-accent btn-rounded btn-xlarge btn-full">완료</button>
                    </form>


                </div>

            </div><!--left-content-->

            <div class="col-md-6">
                <div class="right-content">

                    <div class="iconbox">
                        <i class="icon icon-location"></i>
                        <div class="detail">
                            <strong>Address :</strong>
                            <p>인천광역시 미추홀구 매소홀로488번길 6-32</p>
                        </div>
                    </div>

                    <div class="iconbox">
                        <i class="icon icon-phone"></i>
                        <div class="detail">
                            <strong>tell :</strong>
                            <p>+00 111 222 3333</p>
                        </div>
                    </div>
                    <div class="iconbox">
                        <i class="icon icon-mail3"></i>
                        <div class="detail">
                            <strong>Email:</strong>
                            <p><a href="#">alloftravel@google.com</a></p>
                        </div>
                    </div>

                </div>
            </div><!--right-content-->

        </div>

    </div>
</section>

<section id="testimonial" class="padding-large">
    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <figure class="jarallax-keep-img testimonial-image" data-speed="0.5">
                    <img src="index/images/awards.jpg" alt="review" class="jarallax-img">
                </figure>

            </div>

            <div class="col-md-6">

                <div class="testimonial-block">
                    <div class="section-header">
                        <div class="title">
                            <span>What clients says</span>
                        </div>
                        <h2 class="section-title">Awards!</h2>
                    </div>
                    <div class="testimonials-inner">
                        <q>저희 All Of Travel은 5년간 고객만족도조사에서 전세계 통합예약사이트에서 1위를 달성했습니다. 더 발전하는 All Of  Travel이 되겠습니다.</q>

                        </div>
                    </div>
                </div><!--reviews-content-->

            </div>
        </div><!--grid-->

    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3">

                <div class="footer-menu menu-item-01">
                    <img src="index/images/logo.png" alt="logo" class="footer-logo">
                    <p>편리한 호텔,항공편,렌트,레저 통합 예약 사이트 </p>
                    <div class="social-links">
                        <ul>
                            <li>
                                <a href="#"><i class="icon icon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-youtube-play"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-behance-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-2">

                <div class="footer-menu menu-item-02">
                    <h5>quick links</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="#">home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">hotel</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">airline</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">rentcar</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">leisure</a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-md-4">

                <div class="footer-menu menu-item-03">
                    <h5>contact info</h5>
                    <ul class="menu-list">

                        <li class="menu-item">
                            <i class="icon icon-location2"></i>인천광역시 미추홀구 매소홀로488번길 6-32
                        </li>
                        <li class="menu-item">
                            <i class="icon icon-phone"></i>+00 111 222 3333
                        </li>
                        <li class="menu-item">
                            <i class="icon icon-envelope-o"></i><a href="#" class="mail-id">alloftravel@google.com</a>
                        </li>
                    </ul>
                </div>

            </div>


            </div>

        </div>
    </div>
</footer>

<div id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    <p>© 2022 Archi. All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright text-right">
                    <p>HTML Template by <a href="https://www.templatesjungle.com/"
                                           target="_blank">TemplatesJungle</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/ui-easing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>

</body>

</html>