<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="list/assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="list/css/styles.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link href="list/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="list/css/shop-homepage.css" rel="stylesheet">
    <script src="js/jquery-3.7.1.min.js"></script>
    <style>
        .field {
            width: 400px;
            border: 1px darkgray groove;
            margin-bottom: 50px;
            margin-top: 10px;
            padding: 20px;
        }

        .btn {
            background-color: darkgray;
            box-shadow: black 5px 5px 5px;
            color: white;
            font-weight: bolder;
            width: 270px;
            height: 50px;
            margin-bottom: 30px;
        }
        #side {float: right; width:400px; margin-top: 150px;}

        section p {
            border: 1px groove darkgray;
            padding : 5px;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragment::header(${session.member})}"/>
<div class="container">
    <th:block th:insert="~{fragment::menubar(${session.member})}"/>
    <div class="row">
        <div class="col-lg-8">
            <form id="proc" th:action="@{RBookUpdateProc}" method="post" enctype="multipart/form-data">
                <article>
                    <header class="mb-4"> <br>
                        <h2 class="fw-bolder mb-1">예약 변경 페이지</h2></header>
                    <figure class="mb-4"><img class="img-fluid rounded" th:src="${'upload/' + rbook.coriname}"/>
                    </figure>
                    <a margine="20px" th:href="@{CarDetail(cnum=${rbook.cnum})}">차량 상세 페이지로 이동</a> <br>
                    <input type="hidden" name="rbnum" th:value="${rbook.rbnum}">
                    <div class="container">

                        <fieldset class="field">
                            <legend>예약 정보</legend>
                            <p class="text-muted fst-italic mb-2" th:text="${'렌트 회사명 : '+ rbook.rname}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'대여 차량명 : ' + rbook.cbrand}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'대여 시작날짜 : '+ rbook.sdate}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'대여 종료날짜 : '+ rbook.edate}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'차량 픽업시간 : '+ rbook.stime}"></p>
                            <br>
                            차량 보험 변경 : <select name="cinsuprice" id="cinsuprice" onchange="carChanged()">
                            <option>보험을 선택해주세요.</option>
                            <option value="30000">일반 자차 + ￦30,000</option>
                            <option value="70000">완전 자차 + ￦70,000</option>
                            <option value="100000">슈퍼 자차 + ￦100,000</option>
                        </select>
                            <br><br>
                            <p class="text-muted fst-italic mb-2" id="rprice" name="rprice" th:text="${'차량하루 대여가격 : '+ rbook.rprice}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'총 대여일 수 : '+ rbook.totaldate + ' 일'}"></p>
                            <br>
                            <div class="text-muted fst-italic mb-2" id="totalPrice" name="totalPrice" />
                            <input type="hidden" name="totalPrice" id="tp">
                            <div class="text-muted fst-italic mb-2" id="totalinsu"/>
                            <input type="hidden" id="insutotal" name="totalinsu">

                        </fieldset>

                        <fieldset class="field">
                            <legend>고객 정보</legend>
                            <p class="text-muted fst-italic mb-2" th:text="${'고객 아이디 : '+ member.mid}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'고객 성 : '+ member.mlname}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'고객 이름 : '+ member.mfname}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'고객 전화번호 : '+ member.mphone}"></p>
                            <br>
                            <p class="text-muted fst-italic mb-2" th:text="${'고객 이메일 : '+ member.memail}"></p>
                            <br>
                        </fieldset>
                    </div>
                </article>

            </form>
        </div>

        <div class="col-lg-4" id="side">
            <input type="submit" class="btn btn-primary" value="Complete the Change" form="proc">
            <button class="btn btn-primary" id="backbtn"> Back to the Reservation Detail</button><br>
            <button class="btn btn-primary" id="Delete"> Cancel the Reservation</button>
        </div>

    </div>
</div>
<!-- footer -->
<footer class="py-5 bg-dark">
    <th:block th:insert="~{fragment::footer}"></th:block>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="list/js/scripts.js"></script>
<script src="list/vendor/jquery/jquery.min.js"></script>
<script src="list/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    // function carChanged(car){
    //     $("#cinsuprice").html(selectecar * totaldate)
    // }



     function carChanged() {
        const selectedInsu = $("#cinsuprice").val();
        const totaldate = [[${rbook.totaldate}]];
         const totalPrice = totaldate * selectedInsu;

             $("#totalinsu").html("추가 보험비 : " + totalPrice + " 원");
             $("#insutotal").val(totalPrice);

     }

/*        $.ajax({
          url : "carChanged",
            data : obj,
            success.html("하루 렌트비용 : " + res +" 원");
                $("#realrp") : (res) => {
                console.log(res);
                $("#rprice").val(res);
                let totalprice = res * totaldate;
                $("#totalprice").html("총 보험비 : " + totalprice + " 원");
                $("#realtp").val(totalprice);
            },
            error : function (error) {
                //오류 발생 시 처리
                console.log(error);
            }
        });
    }

    $("#Delete").click(function () {
        let con = confirm("예약을 정말 취소 하시겠습니까?");
        if(con == true) {
            location.href = `/rBookDelete?rbnum=${rbnum}`;
        }
    });*/

    $("#backbtn").click(function () {
        location.href = `/rBookDetail?rbnum=${rbnum}`;
    })
</script>
</html>